@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  color-scheme: dark;
}

body {
  background-color: #111827;
}

.-mt-30 {
  margin-top: -160px;
}

.mt-30 {
  margin-top: 140px;
}

.item-blur {
  backdrop-filter: blur(20px);
}

.link {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #2dd4bf;
}

@media (min-width: 768px) {
  .md\:mt-30 {
      margin-top: 8rem/* 80px */;
  }
}